out
dist
out/*
dist/*
node_modules
.vscode-test
*.vsix
*.log
.DS_Store
coverage
test/*temp*
test/**/*temp*
.idea/
.vscode/changelists.json
examples/webview-content-demo.js
.vscode-ide-cache.json

!__mocks__
!__mocks__/
!__mocks__/*
.env
